### This notebook explains how to calculate linear regression coeeficient summary and in order to understant how to interprate this summary, look at this article -  [**Understanding Linear Regression Output in R**](https://towardsdatascience.com/understanding-linear-regression-output-in-r-7a9cbda948b3)

In [1]:
import numpy as np
import pandas as pd
from scipy.stats import t
import statsmodels.api as sm
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression

In [2]:
data = load_boston()

In [3]:
X = pd.DataFrame(data.data, columns=data.feature_names)
y = pd.Series(data.target, name='Price')

In [4]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

For data with $\textit{N}$ examples and $\textit{p}$ features linear regression considers the target variable, y, to be linearly dependent on the predictors and the equation is given as

$$ y = \beta_0 + \beta_1 x_1 + \beta_2 x_2 + \cdots + \beta_n x_n + \epsilon$$

or,

$$ y = \beta_0 1 + \beta_1 x_1 + \beta_2 x_2 + \cdots + \beta_n x_n + \epsilon $$

This can be re-written in matrix form as

$$ \mathbf{y} = X\mathbf{\beta} + \mathbf{\epsilon}$$

where

$\epsilon \sim \mathcal{N}(0, \sigma^2)$

$X_{N\times(p+1)} = [\mathbf{1}\; \mathbf{x_1}\; \mathbf{x_2}\; \cdots\; \mathbf{x_p}]$

Estimate for the beta can found using

$$ \hat{\beta} = (X^T X)^{-1} X^T\textbf{y} $$
where first value of beta vector is intercept and rest values are the slopes corresponding to each feature.

For these estimates of intercept and slopes, standard error and t-statistics are given as

$$ SE(\hat{\beta_i}) = \sqrt{[(X^T X)^{-1} \sigma_{res}^2]_{ii}} \quad \forall \quad i \in [1 \cdots n] $$

$$ \text{t-stat}(\hat{\beta_i}) = \frac{SE(\hat{\beta_i})}{\hat{\beta_i}} $$

where

$$ \sigma_{res}^2 = \frac{1}{N-p} \sum_{i=1}^N (y_i - \hat{y_i})^2 $$

In [5]:
X_stats = sm.add_constant(X, prepend=True)
X_stats

,const,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,1.0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,1.0,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,1.0,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,1.0,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,1.0,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,1.0,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,1.0,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,1.0,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,1.0,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,1.0,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [6]:
N = X_stats.shape[0]
p = X_stats.shape[1]

In [7]:
beta_hat = np.linalg.inv(X_stats.T @ X_stats) @ X_stats.T @ y.values
beta_hat.index = X_stats.columns
print(beta_hat)

const      36.459488
CRIM       -0.108011
ZN          0.046420
INDUS       0.020559
CHAS        2.686734
NOX       -17.766611
RM          3.809865
AGE         0.000692
DIS        -1.475567
RAD         0.306049
TAX        -0.012335
PTRATIO    -0.952747
B           0.009312
LSTAT      -0.524758
dtype: float64

In [8]:
model = LinearRegression().fit(X, y)
pd.Series(np.r_[model.intercept_, model.coef_], index=X_stats.columns)

const      36.459488
CRIM       -0.108011
ZN          0.046420
INDUS       0.020559
CHAS        2.686734
NOX       -17.766611
RM          3.809865
AGE         0.000692
DIS        -1.475567
RAD         0.306049
TAX        -0.012335
PTRATIO    -0.952747
B           0.009312
LSTAT      -0.524758
dtype: float64

In [10]:
y_hat = model.predict(X)
residuals = y.values - y_hat
residual_sum_of_squares = residuals.T @ residuals
sigma_squared_hat = residual_sum_of_squares / (N - p)
var_beta_hat = np.linalg.inv(X_stats.T @ X_stats) * sigma_squared_hat
lst = []
for p_ in range(p):
    standard_error = var_beta_hat[p_, p_] ** 0.5
    dct = {'coef': np.round(beta_hat[p_], 4)}
    dct["std_err"] = np.round(standard_error, 3)
    dct['t'] = np.round(beta_hat[p_]/standard_error, 3)
    dct['p>|t|'] = np.round(t.sf(abs(dct['t']), N-p)*2, 3) # two-tailed test for t-score
    lst.append(dct)
pd.DataFrame(lst)

       coef  std_err       t  p>|t|
0   36.4595    5.103   7.144  0.000
1   -0.1080    0.033  -3.287  0.001
2    0.0464    0.014   3.382  0.001
3    0.0206    0.061   0.334  0.739
4    2.6867    0.862   3.118  0.002
5  -17.7666    3.820  -4.651  0.000
6    3.8099    0.418   9.116  0.000
7    0.0007    0.013   0.052  0.959
8   -1.4756    0.199  -7.398  0.000
9    0.3060    0.066   4.613  0.000
10  -0.0123    0.004  -3.280  0.001
11  -0.9527    0.131  -7.283  0.000
12   0.0093    0.003   3.467  0.001
13  -0.5248    0.051 -10.347  0.000

In [11]:
results = sm.OLS(y, X_stats).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.741
Model:                            OLS   Adj. R-squared:                  0.734
Method:                 Least Squares   F-statistic:                     108.1
Date:                Mon, 03 Oct 2022   Prob (F-statistic):          6.72e-135
Time:                        16:22:51   Log-Likelihood:                -1498.8
No. Observations:                 506   AIC:                             3026.
Df Residuals:                     492   BIC:                             3085.
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         36.4595      5.103      7.144      0.000      26.432      46.487
CRIM          -0.1080      0.033     -3.287      0.001      -0.173      -0.043
ZN             0.0464      0.014      3.382      0.001       0.019       0.073
INDUS          0.0206      0.061      0.334      0.738      -0.100       0.141
CHAS           2.6867      0.862      3.118      0.002       0.994       4.380
NOX          -17.7666      3.820     -4.651      0.000     -25.272     -10.262
RM             3.8099      0.418      9.116      0.000       2.989       4.631
AGE            0.0007      0.013      0.052      0.958      -0.025       0.027
DIS           -1.4756      0.199     -7.398      0.000      -1.867      -1.084
RAD            0.3060      0.066      4.613      0.000       0.176       0.436
TAX           -0.0123      0.004     -3.280      0.001      -0.020      -0.005
PTRATIO       -0.9527      0.131     -7.283      0.000      -1.210      -0.696
B              0.0093      0.003      3.467      0.001       0.004       0.015
LSTAT         -0.5248      0.051    -10.347      0.000      -0.624      -0.425
==============================================================================
Omnibus:                      178.041   Durbin-Watson:                   1.078
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              783.126
Skew:                           1.521   Prob(JB):                    8.84e-171
Kurtosis:                       8.281   Cond. No.                     1.51e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.51e+04. This might indicate that there are
strong multicollinearity or other numerical problems.